  <div class="message-item-avatar">
    <img src="./images/incognito.png" 
    class="message-item-photo" data-role="user-avatar" data-user={{from}}>
    </img>
    </div>
  <div class="message-item-info">
    <div class="message-item-header">{{from}}</div>
  <div class="message-item-text">
    <div class="message-item-text-message">{{text}}</div>
    <div class="message-item-text-time">{{time}}</div>
  </div>
  </div>