<div class="modal-container">
  <div class="modal__img-wrapper">
    <img src="./images/authorization.svg" alt="authorization image" class="modal__img">
  </div>
  <h1 class="modal__title">Авторизация</h1>
  <div class="modal__text">Введите пожалуйста свой ник для дальнейшей авторизации</div>
  <form class="modal__form">
    <input type="text"  name="nickname" class="modal__form-input" placeholder="Введите свой ник">
    <button class="modal__form-button" type="submit">Войти</button>
  </form>
</div>


