<div class="photo__preview-container">
  <div class="photo__preview-img-container">
  <img src="" alt="photo preview" class="photo__preview-img">
</div>
<div class="photo__preview-text">Область для профильной фотографии</div>
<div class="photo__preview-buttons">
  <button class="photo__preview-btn-cancel" >отмена</button>
  <button class="photo__preview-btn-save" >сохранить</button>
</div>
</div>
