{{#each model}}
  <li class="user">
    <img src=".././images/incognito.png" class="user__img">
    <div class="user__text">
      <div class="user__login">{{this}}</div>
      <div class="user__message"></div>
    </div>
  </li>
{{/each}}